.collapse {
	display: none;

	&.collapse--open {
		display: flex;
		height: auto;
	}
}

.collapse-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border: none;
	width: 32px;
	padding: 0;
	height: 32px;
	cursor: pointer;

	img {
		object-fit: cover;
		height: 16px;
		transition: all 150ms ease;
		pointer-events: none;
	}

	&.collapse-button--open {
		img {
			transform: rotate(-180deg);
		}
	}
}
