.collapse {
	display: none;

	&.collapse--open {
		display: flex;
		height: auto;
	}
}

.collapse-button {
	background: none;
	border: none;
	margin-right: var(--space-2);
	cursor: pointer;

	img {
		height: var(--space-4);
		transition: all 150ms ease;
		pointer-events: none;
	}

	&.collapse-button--open {
		img {
			transform: rotate(-180deg);
		}
	}
}
