.dropdown {
	position: relative;
}

.dropdown__btn {
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color-muted);
	border: var(--border-md-fg);
	border-radius: var(--tiny-curve);
	align-items: center;
	padding: var(--space-1) var(--space-3);
	width: var(--space-15);
	cursor: pointer;

	svg {
		width: var(--space-4);
		height: var(--space-4);
		pointer-events: none;
	}

	span {
		pointer-events: none;
		font-weight: 500;
	}
}

.dropdown__options {
	padding: 0;
	background-color: var(--bg-color-muted);
	font-weight: 500;
	border: 2px solid black;
	width: var(--space-15);
	top: var(--space-10);
	position: absolute;
	list-style: none;
	border-radius: var(--tiny-curve);
}

.dropdown__option {
	display: flex;
	padding: var(--space-1) var(--space-3);
	width: 100%;
	cursor: pointer;

	&:hover {
		background-color: #c9ab7f;
	}

	span {
		pointer-events: none;
	}
}

.dropdown__options.dropdown__options--hide {
	display: none;
}
