.tracker {
	display: flex;
	align-items: center;
	gap: 0.375rem;

	&.life path,
	&.pain path {
		pointer-events: none;
	}

	&.life svg,
	&.pain svg {
		margin-bottom: 0.3125;
		width: 1.438rem;
		height: 1.438rem;
		fill: var(--bg-color-muted);
		cursor: pointer;
	}
}

.tracker.life .marked,
.tracker.pain .marked {
	fill: var(--fg-color);
}

.pip.marked::after {
	content: "";
	width: 0.9375rem;
	height: 0.9375rem;
	background-color: var(--mk-color);
	border-radius: var(--round);
	position: absolute;
	margin: auto;
}

.pip {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 1.438rem;
	height: 1.438rem;
	cursor: pointer;
	border: var(--border-sm-fg);
	border-radius: var(--round);
}
