@media (min-width: 2560px) {
.pip.svg {
		width: 40px;
		height: 40px;
	}

	.pip.marked::after {
		content: "";
		width: 20px;
		height: 20px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 40px;
		height: 40px;
	}
}

.tracker {
	display: flex;
	align-items: center;
	gap: 0.375rem;
	line-height: 1;

	&.life path,
	&.pain path {
		pointer-events: none;
	}
}

.tracker.life .marked,
.tracker.pain .marked {
	fill: var(--fg-color);
}

.pip.marked::after {
	content: "";
	width: 15px;
	height: 15px;
	background-color: var(--mk-color);
	border-radius: var(--round);
	position: absolute;
}

.pip.dot {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 23px;
	height: 23px;
	cursor: pointer;
	border: var(--border-sm-fg);
	border-radius: var(--round);
}

.pip.svg {
	display: flex;
	margin-bottom: 0.3125rem;
	width: 23px;
	height: 23px;
	fill: var(--bg-color-muted);
	cursor: pointer;
}

@media (max-height: 960px) {
	.pip.svg {
		width: 21px;
		height: 21px;
	}

	.pip.marked::after {
		content: "";
		width: 14px;
		height: 14px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 21px;
		height: 21px;
	}
}

@media (max-height: 900px) {
	.pip.svg {
		width: 20px;
		height: 20px;
	}

	.pip.marked::after {
		content: "";
		width: 13px;
		height: 13px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 20px;
		height: 20px;
	}
}

@media (max-height: 840px) {
	.pip.svg {
		width: 19px;
		height: 19px;
	}

	.pip.marked::after {
		content: "";
		width: 12px;
		height: 12px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 19px;
		height: 19px;
	}
}

@media (max-height: 790px) {
	.pip.svg {
		width: 17px;
		height: 17px;
	}

	.pip.marked::after {
		content: "";
		width: 10px;
		height: 10px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 17px;
		height: 17px;
	}
}

@media (max-height: 720px) {
	.pip.svg {
		width: 15px;
		height: 15px;
	}

	.pip.marked::after {
		content: "";
		width: 8px;
		height: 8px;
		background-color: var(--mk-color);
		border-radius: var(--round);
		position: absolute;
	}

	.pip.dot {
		width: 15px;
		height: 15px;
	}
}
