@import url(/src/styles/abstract/tokens.css);

@import url(/src/styles/vendor/reset.css);

@import url(/src/styles/components/trackers.css);
@import url(/src/styles/components/dropdown.css);
@import url(/src/styles/components/collapse.css);
@import url(/src/styles/components/menu.css);
@import url(/src/styles/components/skill.css);

@import url(/src/styles/layouts/character.css);
@import url(/src/styles/layouts/attributes.css);
@import url(/src/styles/layouts/sina.css);
@import url(/src/styles/layouts/informations.css);
@import url(/src/styles/layouts/skillsMenu.css);
@import url(/src/styles/layouts/antecedents.css);
@import url(/src/styles/layouts/rolls.css);

@media (min-width: 2560px) {
	html {
		font-size: 21.333333px;
	}

	.main-content {
		grid-template-rows: 440px var(--space-20) 333px 333px;
		grid-template-columns: 480px 440px 200px var(--space-20) 160px 277px;
	}
}

body {
	background-image: url("/src/assets/images/background.png");
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
	user-select: none;
}

label {
	font-family: var(--poppins);
}

input {
	background-color: var(--bg-color-muted);
	border: var(--border-md-fg);
	border-radius: var(--tiny-curve);

	&:focus {
		outline: none;
	}
}

h2 {
	font-family: var(--maiden);
	line-height: 1;
	font-size: var(--text-header);
	letter-spacing: 0.2rem;
}

.main-content {
	display: grid;
	height: fit-content;
	width: fit-content;
	align-items: center;
	justify-content: center;
	padding: var(--space-4);
	gap: var(--space-3);
	grid-template-rows: 20.625rem var(--space-20) 15.625rem 15.625rem;
	grid-template-columns: 22.5rem 20.625rem 9.275rem var(--space-20) 7.5rem 13rem;
	grid-template-areas:
		"character character attributes attributes sina sina"
		"informations antecedents antecedents rolagemlivre rolagemlivre rolagemlivre"
		"informations antecedents antecedents inventario inventario inventario"
		"informations montaria montaria inventario inventario inventario";
}

#rolagemlivre {
	background-color: var(--bg-color);
	grid-area: rolagemlivre;
	border: var(--border-md-fg);
	height: 100%;
}

#montaria {
	background-color: var(--bg-color);
	grid-area: montaria;
	border: var(--border-md-fg);
	height: 100%;
}

#inventario {
	background-color: var(--bg-color);
	grid-area: inventario;
	border: var(--border-md-fg);
	height: 100%;
}

/* ========================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Removes the margin that might remain */
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield; /* Standard property for newer browsers */
}

/* ========================== */

@media (max-width: 1440px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1366px) {
	html {
		font-size: 11px;
	}
}