@import url(/src/styles/abstract/tokens.css);

@import url(/src/styles/vendor/reset.css);

@import url(/src/styles/components/trackers.css);
@import url(/src/styles/components/dropdown.css);
@import url(/src/styles/components/collapse.css);
@import url(/src/styles/components/menu.css);
@import url(/src/styles/components/skill.css);
@import url(/src/styles/components/tooltip.css);
@import url(/src/styles/components/inventoryCategory.css);

@import url(/src/styles/layouts/character.css);
@import url(/src/styles/layouts/attributes.css);
@import url(/src/styles/layouts/sina.css);
@import url(/src/styles/layouts/informations.css);
@import url(/src/styles/layouts/skillsMenu.css);
@import url(/src/styles/layouts/antecedents.css);
@import url(/src/styles/layouts/rolls.css);
@import url(/src/styles/layouts/mount.css);
@import url(/src/styles/layouts/equipment.css);

@media (min-height: 1200px) {
	html {
		font-size: 17px;
	}
}

@media (min-height: 1400px) {
	html {
		font-size: 19px;
	}
}

body {
	background-image: url("/src/assets/images/background.png");
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
	user-select: none;
	overflow: hidden;

	&::selection {
		color: var(--bg-color);
		background: var(--text-highlight);
	}
}

label {
	font-family: var(--poppins);
}

input {
	background-color: var(--bg-color-muted);
	border: var(--border-md-fg);
	border-radius: var(--tiny-curve);

	&:focus {
		outline: none;
	}
}

h2 {
	font-family: var(--maiden);
	line-height: 1;
	font-size: var(--text-header);
	letter-spacing: 0.2rem;
}

.main-content {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: var(--space-4);
	gap: var(--space-3);
	grid-template-rows: 20.625rem var(--space-20) 15.625rem 15.625rem;
	grid-template-columns: 22.75rem 20.625rem 9.275rem var(--space-20) 7.5rem 13rem;
	grid-template-areas:
		"character character attributes attributes sina sina"
		"informations antecedents antecedents rolagemlivre rolagemlivre rolagemlivre"
		"informations antecedents antecedents equipment equipment equipment"
		"informations mount mount equipment equipment equipment";
}

#rolagemlivre {
	background-color: var(--bg-color);
	grid-area: rolagemlivre;
	border: var(--border-md-fg);
	height: 100%;
}

.hide {
	/* biome-ignore lint/complexity/noImportantStyles: using to hide elements */
	display: none !important;
}

/* ========================== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; /* Removes the margin that might remain */
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield; /* Standard property for newer browsers */
}

/* ========================== */

@media (max-height: 960px) {
	html {
		font-size: 15px;
	}
}

@media (max-height: 900px) {
	html {
		font-size: 14px;
	}
}

@media (max-height: 840px) {
	html {
		font-size: 13px;
	}
}

@media (max-height: 790px) {
	html {
		font-size: 12px;
	}
}

@media (max-height: 720px) {
	html {
		font-size: 11px;
	}
}
