#atributos {
  grid-area: atributos;
  border: 2px black solid;
  height: 100%;
  background-color: var(--bg-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fg-color);
  font-family: var(--bebas);
  color: var(--bg-color);
  letter-spacing: var(--space-1);
  font-size: var(--text-xl);
  padding: var(--space-3) var(--space-0) var(--space-2) var(--space-0);
}

.atribut-input {
  display: flex;
}

.inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-2) var(--space-4);
  font-size: var(--text-2xl);
  font-family: var(--bebas);
  gap: var(--space-1);
}
