.informations {
	grid-area: informations;
	background-color: var(--bg-color);
	border: var(--border-md-fg);
	height: 100%;
}

.informations__header {
	display: flex;
	height: var(--space-12);
	justify-content: space-around;
	background-color: var(--fg-color);
	padding: var(--space-2) var(--space-3);
	list-style: none;
}

.informations__header-btn {
	background-color: transparent;
	padding: var(--space-1) var(--space-1);
	border: none;
	letter-spacing: 1.5px;
	line-height: 1;
	font-size: 1.4375rem;
	font-weight: 900;
	font-family: var(--bebas);
	color: var(--bg-color);
	cursor: pointer;
}

.informations__header-btn.informations__header-btn--selected {
	color: rgb(255, 255, 255);
}

.informations__skill-bonuses {
	display: flex;
	justify-content: space-around;
}

/* ========== SKILLS ========== */

.informations-skills__add-skill-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	height: var(--space-20);
	min-height: var(--space-20);
	border: 2px dashed var(--fg-color);
	padding: var(--space-1) var(--space-3);
	color: var(--bg-color);
	font-family: var(--poppins);
	font-weight: 700;
	cursor: pointer;

	svg {
		pointer-events: none;
	}

	&.informations-skills__add-skill-button--limit {
		display: none;
	}
}

.informations__skills {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 100%;
	height: calc(100% - var(--space-12));
	gap: var(--space-2);
	padding: var(--space-3) var(--space-0) var(--space-3) var(--space-3);

	&::-webkit-scrollbar {
		width: var(--space-5);
	}

	&::-webkit-scrollbar-thumb {
		background: #4b3e33;
		border-radius: 9999px;
		border: 6px solid transparent;
		background-clip: padding-box;
	}
}

.informations-skills__selected-skills {
	display: none;
	flex-direction: column;
	gap: var(--space-2);
}

.informations-skills__selected-skills.informations-skills__selected-skills--show {
	display: flex;
}

/* ========== Redemption ========= */

.informations__redemption {
	display: flex;
	flex-direction: column;
	padding: var(--space-3) var(--space-0) var(--space-3) var(--space-3);
	height: calc(100% - var(--space-12));
	overflow-y: scroll;
	gap: 0.5rem;

	&::-webkit-scrollbar {
		width: var(--space-5);
	}

	&::-webkit-scrollbar-thumb {
		background: #4b3e33;
		border-radius: 9999px;
		border: 6px solid transparent;
		background-clip: padding-box;
	}
}

.informations__redemption-path {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	input {
		border: none;
		color: var(--fg-color);
		background: none;
		font-family: var(--maiden);
		line-height: 1;
		text-align: center;
		letter-spacing: 1px;
		font-size: 2rem;
		transition: width 0.1s ease;
		overflow: hidden;
		height: 2.25rem;
		width: 13rem;
		border-radius: 0;
		border-bottom: 2px var(--fg-color) solid;
	}
}

.informations__path-descriptions {
	display: flex;

	textarea {
		font-family: var(--poppins);
		font-size: var(--text-sm);
		text-align: center;
		padding: var(--space-2);
		height: 5rem;
		max-width: 100%;
		color: var(--fg-color);
		width: 100%;
		background: none;
		border: none;
		min-width: 100%;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

.redemptionBtn {
	background: none;
	border: none;
	padding: 0;
	height: 20px;
	width: 20px;
	cursor: pointer;
	margin-bottom: 0.5rem;

	img {
		pointer-events: none;
	}
}

.back-path {
	transform: rotate(90deg);
}

.next-path {
	transform: rotate(270deg);
}

.informations__step {
	width: 100%;
	max-width: 100%;
	border: var(--border-md-fg);
	font-size: var(--text-sm);
	height: 6rem;
	min-width: 100%;
	color: var(--fg-color);
	font-family: var(--poppins);
	padding: var(--space-2) var(--space-2);
	border-radius: 4px;
	background: var(--bg-color-muted);

	&::-webkit-scrollbar {
		display: none;
	}
}

.informations__step-header {
	display: flex;
	margin-bottom: 0.25rem;
	justify-content: space-between;
	font-family: var(--poppins);
}

.informations__step-conclusion {
	display: flex;
	align-items: center;

	span {
		margin-right: 0.25rem;
	}
}

.step-stage {
	font-family: var(--chelsea);
}
/* ========== Description ========= */

.informations__description {
	padding: var(--space-3) var(--space-0) var(--space-3) var(--space-3);
	height: calc(100% - var(--space-12));
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: var(--space-5);
	}

	&::-webkit-scrollbar-thumb {
		background: #4b3e33;
		border-radius: 9999px;
		border: 6px solid transparent;
		background-clip: padding-box;
	}
}

.informations__description-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.informations__description-inputs {
	label {
		font-family: var(--bebas);
		font-size: 1.5rem;
		letter-spacing: 2px;
	}
	textarea {
		color: var(--fg-color);
		background: var(--bg-color-muted);
		border: var(--border-md-fg);
		max-width: 100%;
		min-width: 100%;
		height: 6.5rem;
		min-height: 6.5rem;
		outline: none;
		border-radius: 4px;
		padding: 0.5rem;
		font-family: var(--poppins);
		font-size: var(--text-sm);

		&::-webkit-scrollbar {
			display: none;
		}

		&::placeholder {
			color: var(--placeholder-color);
		}
	}
}
