.rolls {
	display: flex;
	padding: 0 var(--space-14) var(--space-14) 0;
	justify-content: flex-end;
	flex-direction: column;
	position: absolute;
	z-index: 6;
	right: 0;
	height: 100dvh;
	gap: var(--space-3);
	pointer-events: none;
}

.rolls__container {
	/* biome-ignore lint/correctness/noUnknownProperty: propriedade não suportada pelo Biome */
	corner-shape: scoop;
	pointer-events: auto;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	border: var(--border-md-fg);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	padding: var(--space-5) var(--space-6);
	gap: var(--space-2);
	background-color: var(--bg-color);
}

.rolls__top {
	font-family: var(--bebas);
	align-items: flex-start;
	font-size: var(--text-3xl);
	letter-spacing: 1px;
	display: flex;
	line-height: 1;
	justify-content: space-between;

	button {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}

	svg {
		fill: var(--fg-text-color);
		width: var(--space-5);
		height: var(--space-5);
		pointer-events: none;
	}
}

.rolls__bottom {
	position: relative;
	gap: var(--space-4);
	display: flex;
	margin-left: var(--space-4);

	> p {
		font-size: var(--text-4xl);
		font-family: var(--bebas);
		font-weight: 900;
		line-height: 1;
		z-index: 6;
	}
}

.rolls__informations {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;

	p:first-child {
		font-family: var(--bebas);
		line-height: 1;
		font-weight: 900;
		font-size: var(--text-4xl);
		z-index: 6;
	}

	p:last-child {
		font-family: var(--poppins);
		line-height: 1;
		font-weight: 700;
		font-size: var(--text-base);
		color: var(--fg-text-color);
		z-index: 6;
	}
}

.barrel {
	position: absolute;
	z-index: 1;
	bottom: -9px;
	pointer-events: none;
}

.rolls__value--crit {
	color: rgb(197, 123, 11);
}

.rolls__value--fail {
	color: rgb(196, 40, 13);
}
