@media (min-width: 2560px) {
	.sina-cards {
		border-top-right-radius: 40px;
	}
}

.sina-cards {
	display: flex;
	position: relative;
	grid-area: sina;
	/* biome-ignore lint/correctness/noUnknownProperty: propriedade não suportada pelo Biome */
	corner-top-right-shape: scoop;
	border-top-right-radius: 30px;
	border: var(--border-md-fg);
	height: 100%;
	background-color: var(--bg-color);
	padding: var(--space-4) var(--space-4) var(--space-8) var(--space-4);
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	font-family: var(--bebas);
	letter-spacing: var(--space-1);
}

.sina-cards__cards {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	color: var(--bg-color);
	z-index: 6;
	width: 10.625rem;
}

.sina-cards__value {
	transform: rotate(-8.75deg);
	left: var(--space-10);
	bottom: 4rem;
	text-align: center;
	width: 4.5rem;
	letter-spacing: var(--space-0);
	font-size: var(--text-6xl);
	position: absolute;
}

.sina-cards__container {
	width: 100%;
	align-items: center;
	justify-content: space-around;
	display: flex;
}

.sina-cards__button {
	background-color: var(--bg-color-muted);
	border-radius: var(--small-curve);
	border: 2px var(--fg-text-color) solid;
	width: var(--space-10);
	height: var(--space-10);
	cursor: pointer;

	path {
		pointer-events: none;
	}
	svg {
		pointer-events: none;
		fill: var(--fg-text-color);
	}
}

.sina-cards__button--blocked {
	background-color: #c2a780;
	border: var(--border-md-fg);
	cursor: default;

	svg {
		fill: var(--fg-text-color);
	}
}

@media (max-width: 1536px) {
	.sina-cards {
		border-top-right-radius: 24px;
	}
}

@media (max-width: 1440px) {
	.sina-cards {
		border-top-right-radius: 22px;
	}
}