.skills-menu {
	width: 500px;
	height: 800px;
	margin: auto;
    padding: 0;
    border: 2px var(--fg-color) solid;
	background: var(--bg-color);
    overflow: hidden;
}

.skills-menu__header {
    display: flex;
	height: 48px;
	background-color: var(--fg-color);
	padding: var(--space-2) var(--space-3);
    list-style: none;
}

.skill-menu__header-btn {
    background-color: transparent;
	padding: var(--space-1) var(--space-3);
	border: none;
	letter-spacing: 1.5px;
	line-height: 1;
	font-size: var(--text-xl);
	font-weight: 900;
	font-family: var(--bebas);
	color: var(--bg-color);
	cursor: pointer;
}

.header-button.header-button--selected {
	color: rgb(255, 255, 255);
}

.skills-menu__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    height: calc(100% - 48px);
    overflow: auto;
}

.menu__container.menu__container--closed {
    display: none
}


/* SKILLS */

.skill {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	justify-content: space-between;
	border: var(--border-md-fg);
	background-color: var(--bg-color-muted);
	padding: var(--space-4) var(--space-5) var(--space-3) var(--space-3);

	svg {
		width: 32px;
	}
}

.skill__bottom.skill__bottom--open {

	p {
		font-family: var(--poppins);
		font-size: var(--text-sm);
		text-align: justify;
	}

	svg {
		display: inline-flex;
		position: relative;
		top: 4px;
		margin-left: 0.25rem;
		width: var(--text-lg);
		height: var(--text-lg);
	}
}

.skill-select-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--fg-color);
	border-radius: 5px;
	border: none;
	width: 38px;
	height: 38px;
    cursor: pointer;

	svg {
		fill: var(--bg-color-muted);
	}
}

.select-button.select-button--selected {
    display: none;
}