.skills-menu {
	width: 31.25rem;
	height: 50rem;
	margin: auto;
	padding: 0;
	border: var(--border-md-fg);
	background: var(--bg-color);
	overflow: hidden;

	&::backdrop {
		background: rgba(48, 31, 11, 0.4);
		backdrop-filter: blur(2px);
	}
}

.skills-menu__header {
	display: flex;
	background-color: var(--fg-color);
	padding: var(--space-3) var(--space-3);
	list-style: none;
}

.skill-menu__header-btn {
	background-color: transparent;
	padding: var(--space-1) var(--space-3);
	border: none;
	letter-spacing: 1.5px;
	line-height: 1;
	font-size: var(--text-3xl);
	font-weight: 900;
	font-family: var(--bebas);
	color: var(--bg-color);
	cursor: pointer;
}

.skills-menu__container {
	display: flex;
	flex-direction: column;
	gap: var(--space-2);
	padding: var(--space-3) 2px var(--space-3) var(--space-3);
	height: calc(100% - (38px + var(--space-3) * 2));
	overflow: auto;

	&::-webkit-scrollbar {
		width: var(--space-5);
		background: none;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--scroll-color);
		border-radius: 9999px;
		border: 5px solid transparent;
		background-clip: padding-box;
	}
}
